@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

body {
  height: 100vh;
  min-height: 100vh;
}

#root {
  height: 100%;
}

.blue-btn {
  @apply
    px-3 py-2
    rounded-md
    font-normal
    bg-blue-500 hover:bg-blue-600 active:bg-blue-700
    text-white hover:text-gray-200
    disabled:bg-gray-400
    select-none
  ;
}

.custom-input {
  @apply px-2 py-1 rounded border border-gray-300 text-black;

  &.success {
    @apply border border-green-400;
  }

  &.error {
    @apply border border-red-400;
  }
}
